/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** PERSO ******/

:root {
    --main-bg-color: #003459;
    --main-text-color: #FFFFFF;
    --main-hover-color: #007EA7;
    --main-link-color: #00A8E8;
}

/* Header */
header {
    margin: 1.5rem 3rem 0 3rem;
}
header nav.navbar .container-fluid a, header nav.navbar div ul li a.nav-link.active, .navbar-nav .nav-link.show{
    color: var(--main-text-color);
    font-size: 1.3rem;
}
header nav.navbar .container-fluid .navbar-brand{
    font-size: 1.5rem;
}
.dropdown-menu {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.dropdown-divider {
    background-color: var(--main-text-color);
}

/* Body */
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'RocknRoll One', sans-serif;
}
section {
    margin: 1.5rem 3rem;
}

.intro {
    text-align: center;
}
.intro h2{
    font-size: 1.8rem;
    margin: 2rem 0;
}
.intro p{
    font-size: 1.2rem;
}
/* Carousel */
.carousel-item img {
    height: 20rem;
    object-fit: cover; /* Pour maintenir le rapport hauteur/largeur */
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .liens{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    margin: 1rem 0;
}
footer img{
    height: 50px;
    object-fit: cover;
}